.videoFooter {
  position:relative;
  color: white;
  bottom: 14vh;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
  height: 20%;
}

.videoFooter__text {
  width: 100%;
  padding-left: 1rem;
}



#channel {
  margin-left: 0rem;
  margin-bottom: 0rem;
  font-size: clamp(8px, 1.5vw, 16px);
  text-align: left;
}

#title {
  margin-bottom: 0.5rem;
  margin-left: 0rem;
  font-size: clamp(15px, 2vw, 30px);
  text-align: left;
}

#description {

  margin-bottom: 0rem;
  margin-left: 0rem;
  font-size: clamp(8px, 1.5vw, 16px);
  text-align: left;
}