.richTextEditor :global(.ql-container) {
  border: 1px solid #ccc;
  height: 100%;
}

.richTextEditor :global(.ql-toolbar) {
  background-color: #f0f0f0;
  padding: 5px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.richTextEditor :global(.ql-editor) {
  min-height: 0;
  flex-grow: 1;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before
,.ql-snow .ql-color-picker .ql-picker-label svg{
  line-height: 0px;
  display: flex;
}

.ql-toolbar.ql-snow{
  display: flex;
}